*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cyan;
}
.container {
    width: 85vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid 1#ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    }
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
    }
img{
    height: 100%;
    width: 100%;
}
@keyframes slide{
        0%{
            transform: translateX(0);
        }
        16%{
            transform: translateX(0);
        }
        21%{
            transform: translateX(-100%);
        }
        32%{
            transform: translateX(-100%);
        }
        37%{
            transform: translateX(-200%);
        }
        48%{
            transform: translateX(-200%);
        }
        53%{
            transform: translateX(-300%);
        }
        64%{
            transform: translateX(-300%);
        }
        69%{
            transform: translateX(-400%);
        }
        80%{
            transform: translateX(-400%);
        }
        85%{
            transform: translateX(-500%);
        }
        100%{
            transform: translateX(-500%);
        }
    }