@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Footer CSS*/
/* footer{
    display: flex;
    justify-content: space-between;
    padding: 3% 50%;
    background-color: #2d2e33;
    padding: 20px 5%;
}
footer .map{
    width: 95%;
    height: 100%;
}
footer ul{
    list-style: none;
}

.foot-col h4{
    position: relative;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}
.foot-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}
footer li:not(:last-child){
    margin-bottom: 8px;
}
footer li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}
footer li a:hover{
    color: white;
    scale: 110%;
}
.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 140, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a:hover{
    color: #4d4f55;
    background-color: white;
}

@media(max-width: 740px){
    .foot-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
    .foot-col h4::before{
        all: unset;

    }
}
@media(max-width: 555px){
    .foot-col{
        width: 100%;
    }
} */
/*Footer CSS ends */
footer {
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom right, #00093c, #2d0b00);
  color: #fff;
  padding: 60px 0 30px;
  /* border-top-left-radius: 125px; */
  font-size: 2.2rem;
  line-height: 20px;
}
.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}
.col {
  flex-basis: 20%;
  padding: 10px;
}
.col:nth-child(2) {
  flex-basis: 20%;
}
.col:nth-child(3) {
  flex-basis: 10%;
}
.col:nth-child(4) {
  flex-basis: 26%;
}
footer .row .col .AIAA {
  filter: invert(0);
  width: 60%;
  height: auto;
}
footer .row .col .SAE {
  filter: invert(0);
  width: 30%;
  height: auto;
}
footer .sep{
  background: #fff;
  width: 50px;
  height: 100px;
}
footer .row .col img {
  filter: invert(1);
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.col h4 a {
  color: white;
}
.email {
  width: fit-content;
  /* border-bottom: 1px solid #ccc; */
  margin: 20px 0;
}
.row .col ul li {
  list-style: none;
  margin-bottom: 12px;
}
.row .col ul li a {
  text-decoration: none;
  color: #fff;
}
.row .col ul li a:hover {
  transition: 0.3s ease-in-out;
  text-shadow: rgba(255, 255, 255, 2) 0px 0px 15px;
}
.social-icon {
  align-items: center;
  justify-items: center;
}
.social-icon .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 3rem;
  color: #000;
  background: #fff;
  margin-right: 10px;
  margin: 5px;
  transition: 0.3s ease-in-out;
}
.social-icon .fab:hover {
  transform: scale(1.15);
}
.social-icon .yt:hover{
  color: red;
}
.social-icon .li:hover{
  color: #0077b5;
}
.social-icon .be:hover{
  color: #0856ff;
}
.social-icon .ig:hover{
  color: red;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 2px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
.cnt-btn {
  translate: 50%, 50%;
  padding: 0 0 20px 80px;
}
/* .contact{
    font-family: "Roboto Condensed", sans-serif;
    height: 50px;
    width: 45%;
    border-radius: 35px;
    font-weight: 540;
    border: none;
    transition: 0.2s;
  }
  .contact:hover{
    background-color: rgb(10, 10, 10) ;
    color: white;
  } */

.contact {
  font-family: "Inter", serif;
  font-weight: 500;
  background-color: #f3f7fe;
  color: rgb(10, 10, 10);
  border: none;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

.contact:hover {
  transition: 0.5s ease-in-out;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 0 0 2px rgb(35, 32, 35);
  color: #fff;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 430px) {
  footer .row .col img {
    width: 70%;
    aspect-ratio: 3/1;
  }
  .col:nth-child(1) {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3),
  .col:nth-child(4) {
    flex-basis: 100%;
  }
  .cnt-btn {
    translate: 50%, 50%;
    padding: 0 0 20px 0;
  }
  .col:nth-child(4) {
    align-items: center;
    justify-items: center;
  }
  .social-icon {
    align-items: center;
    justify-items: center;
  }
}
